{% extends "base.html" %}
{% block title %}
    Registro de Personal
{% endblock %}

{% block content %}
<main>
    <section class="main-form">
        <form method="POST">
            <h1>Registro de personal</h1>
            <div class="form-group">
                <label for="text">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese nombre">
            </div>
            <div class="form-group">
                <label for="text">Apellido paterno</label>
                <input type="text" name="ap_pat" id="ap_pat" class="form-control" placeholder="Ingrese apellido paterno">
            </div>
            <div class="form-group">
                <label for="text">Apellido materno</label>
                <input type="text" name="ap_mat" id="ap_mat" class="form-control" placeholder="Ingrese apellido materno">
            </div>
            <div class="form-group">
                <label for="text">Area</label>
                <select id="area" name="area">
                    <option value="1">Cobranza</option>
                    <option value="2">Secretaria</option>
            </div>
            <div class="form-group">
                <label for="text">Sueldo</label>
                <input type="text" name="sueldo" id="sueldo" class="form-control" placeholder="Ingrese sueldo">
            </div>
            <input type="submit" value="submit">
        </form>
    </section>
</main>
{% endblock %}