{% extends "base.html" %}
{% block title %}
    Registro
{% endblock %}

{% block content %}
<main>
    <section class="register-main">
        <h1>Registrarse</h1>
        <div>
            <ul>
                <li>
                    <a href="{{ url_for('auth.reg_personal') }}">Personal</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.reg_pacientes') }}">Pacientes</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.reg_procedimientos') }}">Procedimientos</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.reg_administrativo') }} ">Administrativo</a>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}